* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: beige;
}

header {
    background-color: rgb(15 23 42/1);
    height: 10vh;
    display: flex;
    align-items: center;
}

.header_outer_container {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_container {
    display: flex;
    align-items: center;
}

.logo {
    background-color: white;
    padding: 4px;
    border-radius: 4px;
    margin-right: 16px;
}

.menu {
    color: rgb(156 163 175 / 1);
    margin-right: 16px;
    font-size: 16px;
}

.menu:hover {
    color: white;
}

.header_container a {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: rgb(156 163 175 / 1);
    text-decoration: none;
    margin-right: 16px;
}

.header_container a:hover {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: white;
    text-decoration: none;
    margin-right: 16px;
}

.auth_button_container .login {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: rgb(156 163 175 / 1);
    text-decoration: none;
    margin-right: 16px;
}

.auth_button_container .login:hover {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: white;
    text-decoration: none;
    margin-right: 16px;
}

.auth_button_container .signup {
    font-weight: 500;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: white;
    background-color: #1d4ed8;
    text-decoration: none;
    padding: 4px 16px 4px 16px;
    border-radius: 100rem;
}

.heading_background_container {
    background-color: rgb(255 255 255/1);
    height: 18vh;
    padding: 24px;
}

.heading_container {
    width: 50%;
    margin: auto;
}

.heading {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: .5rem;
    font-weight: 700;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.subheading {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(107 114 128/1);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.background_container {
    background-color: rgb(243 244 246/1);
    padding-top: 32px;
    padding-bottom: 32px;
    height: 72vh;
}

.question_collection_container {
    width: 50%;
    margin: auto;
}

.container_one {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.html_container {
    width: 100%;
    background-color: rgb(255 255 255/1);
    border: 1px solid rgb(229 231 235/1);
    border-radius: 6px;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 500;
    margin-right: 8px;
    padding: 16px;
}

.html_container:hover {
    width: 100%;
    background-color: rgb(255 255 255/1);
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 500;
    margin-right: 8px;
    padding: 16px;
}

.html,
.css,
.js,
.react,
.nodejs,
.backend {
    margin-bottom: 4px;
}

.css_container {
    width: 100%;
    background-color: rgb(255 255 255/1);
    border: 1px solid rgb(229 231 235/1);
    border-radius: 6px;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 500;
    padding: 16px;
}

.css_container:hover {
    width: 100%;
    background-color: rgb(255 255 255/1);
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 500;
    padding: 16px;
}

.container_two {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.js_container {
    width: 100%;
    background-color: rgb(255 255 255/1);
    border: 1px solid rgb(229 231 235/1);
    border-radius: 6px;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 500;
    margin-right: 8px;
    padding: 16px;
}

.js_container:hover {
    width: 100%;
    background-color: rgb(255 255 255/1);
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 500;
    margin-right: 8px;
    padding: 16px;
}

.react_container {
    width: 100%;
    background-color: rgb(255 255 255/1);
    border: 1px solid rgb(229 231 235/1);
    border-radius: 6px;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 500;
    padding: 16px;
}

.react_container:hover {
    width: 100%;
    background-color: rgb(255 255 255/1);
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 500;
    padding: 16px;
}

.container_three {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.nodejs_container {
    width: 100%;
    background-color: rgb(255 255 255/1);
    border: 1px solid rgb(229 231 235/1);
    border-radius: 6px;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 500;
    margin-right: 8px;
    padding: 16px;
}

.nodejs_container:hover {
    width: 100%;
    background-color: rgb(255 255 255/1);
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 500;
    margin-right: 8px;
    padding: 16px;
}

.backend_container {
    width: 100%;
    background-color: rgb(255 255 255/1);
    border: 1px solid rgb(229 231 235/1);
    border-radius: 6px;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 500;
    padding: 16px;
}

.backend_container:hover {
    width: 100%;
    background-color: rgb(255 255 255/1);
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 500;
    padding: 16px;
}

.questions {
    color: gray;
    font-size: 14px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 400;
}

.topics {
    color: gray;
    font-size: 14px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 400;
}

.html_inner_container,
.css_inner_container,
.js_inner_container,
.react_inner_container,
.nodejs_inner_container,
.backend_inner_container {
    display: flex;
    align-items: center;
}

.circle {
    height: 4px;
    width: 4px;
    background-color: gray;
    border-radius: 100%;
    margin-left: 8px;
    margin-right: 8px;
}

/*                */
/* QUESTION PAGE */
/*              */

.all_questions_container {
    height: 100vh;
}

main {
    text-align: center;
}

.topic_heading_container {
    margin-bottom: 15px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    line-height: 1;
    margin-bottom: 1.25rem;
    margin-top: 32px;
}

p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: rgb(107 114 128/1);
}

.question_number_container {
    border: 1px solid #e5e7ebcc;
    padding: 18px;
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 6px;
    background-color: #FFF;
}

.question_range_container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.question_range_container input {
    width: 80%;
}

.question_range_container .left {
    margin-left: 16px;
    margin-right: 8px;
}

.question_range_container .right {
    margin-left: 8px;
}

.ques_number_container {
    width: 20%;
    display: flex;
    align-items: center;
}

.ques_number_container p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: rgb(107 114 128/1);
}

.ques_number_container svg {
    height: 1.5rem;
    color: gray;
}

.ques_number_container svg:hover {
    color: #000;
}

.question_measure_container {
    display: flex;
    align-items: center;
}

.knew_container,
.learn_container,
.skip_container,
.reset_container {
    display: flex;
    align-items: center;
}

.knew_container svg {
    height: 1.2rem;
    margin-right: 8px;
}

.knew_container .knew {
    margin-right: 8px;
    font-size: 1rem;
    line-height: 1.75rem;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: #000;
}

.knew_container .knew_items {
    margin-right: 16px;
    font-size: 1rem;
    line-height: 1.75rem;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: #000;
    padding: 1px 6px 1px 6px;
    border-radius: 8px;
    background-color: #e5e7ebcc;
}

.learn_container svg {
    height: 1.2rem;
    margin-right: 8px;
}

.learn_container .learnt {
    margin-right: 8px;
    font-size: 1rem;
    line-height: 1.75rem;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: #000;
}

.learn_container .learnt_items {
    margin-right: 16px;
    font-size: 1rem;
    line-height: 1.75rem;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: #000;
    padding: 1px 6px 1px 6px;
    border-radius: 8px;
    background-color: #e5e7ebcc;
}

.skip_container svg {
    height: 1.2rem;
    margin-right: 8px;
}

.skip_container .skipped {
    margin-right: 8px;
    font-size: 1rem;
    line-height: 1.75rem;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: #000;
}

.skip_container .skipped_items {
    margin-right: 16px;
    font-size: 1rem;
    line-height: 1.75rem;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: #000;
    padding: 1px 6px 1px 6px;
    border-radius: 8px;
    background-color: #e5e7ebcc;
}

.reset_container svg {
    height: 1.2rem;
    margin-right: 8px;
    color: #FF0000;
}

.reset_container .reset {
    font-size: 1rem;
    line-height: 1.75rem;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: #FF0000;
}

.reset_container:hover{
    cursor: default;
}

.question_container {
    border: 1px solid #e5e7ebcc;
    padding: 18px 0px 18px 0px;
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 6px;
    background-color: #FFF;
}

.question_container .circle_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.question_container .circle_container p {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.question_container .circle_container .circle {
    height: 4px;
    width: 4px;
    background-color: gray;
    border-radius: 100%;
    margin-left: 8px;
    margin-right: 8px;
}

.question_container h2 {
    padding: 24px 0px 24px 0px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    text-align: center;
}

.question_container .answer {
    text-decoration: underline;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: gray;
    text-underline-offset: 4px;
    text-align: center;

}

.question_container .answer:hover {
    color: #000;
}

.bottom_container {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
}

.already_know_container,
.did_not_know_container {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #e5e7ebcc;
    padding: 8px;
    border-radius: 6px;
    color: gray;
}

.skip_question_container {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #FF0000;
    padding: 8px;
    border-radius: 6px;
    color: #FF0000;
}

.already_know_container,
.did_not_know_container {
    margin-right: 8px;
}

.already_know_container svg {
    height: 1.2rem;
    /* margin-left: 16px; */
    margin-right: 8px;
}

.already_know_container p {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.already_know_container:hover {
    background-color: #000;
    color: white;
}

.already_know_container:hover p {
    color: white;
}

.did_not_know_container svg {
    height: 1.2rem;
    /* margin-left: 16px; */
    margin-right: 8px;
}

.did_not_know_container p {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.did_not_know_container:hover {
    background-color: #000;
    color: white;
}

.did_not_know_container:hover p {
    color: white;
}

.skip_question_container svg {
    height: 1.2rem;
    /* margin-left: 16px; */
    margin-right: 8px;
}

.skip_question_container p {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: #FF0000;
}

.skip_question_container:hover {
    background-color: #FF0000;
    color: white;
}

.skip_question_container:hover p {
    color: white;
}